.startups-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.startups-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.startups-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.startups-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.startups-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.startups-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.startups-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.startups-text {
  text-decoration: none;
}
.startups-text01 {
  text-decoration: none;
}
.startups-text02 {
  text-decoration: none;
}
.startups-navlink {
  display: contents;
}
.startups-image {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.startups-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.startups-text03 {
  text-decoration: none;
}
.startups-text04 {
  text-decoration: none;
}
.startups-text05 {
  text-decoration: none;
}
.startups-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.startups-burger-menu {
  display: none;
}
.startups-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.startups-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.startups-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.startups-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.startups-logo-center {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.startups-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.startups-navlink1 {
  display: contents;
}
.startups-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.startups-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.startups-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.startups-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.startups-link {
  display: contents;
}
.startups-icon04 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.startups-link1 {
  display: contents;
}
.startups-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.startups-link2 {
  display: contents;
}
.startups-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.startups-link3 {
  display: contents;
}
.startups-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.startups-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 1.00%,rgb(223, 231, 221) 60.00%);
}
.startups-container3 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.startups-text16 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-fourunits);
}
.startups-text21 {
  color: rgb(0, 0, 0);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.startups-blog {
  flex: 1;
  width: 100%;
  height: 1026px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  justify-content: space-between;
}
.startups-blog1 {
  flex: 0;
  width: 100%;
  height: 1026px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  justify-content: space-between;
}
.startups-blog2 {
  flex: 0;
  width: 100%;
  height: 1026px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  justify-content: space-between;
}
.startups-blog3 {
  flex: 0;
  width: 100%;
  height: 1026px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  justify-content: space-between;
}
.startups-blog4 {
  flex: 0;
  width: 100%;
  height: 1026px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  justify-content: space-between;
}
.startups-text24 {
  color: #efc14c;
  width: auto;
  font-size: 1.5rem;
  max-width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .startups-container1 {
    display: none;
  }
  .startups-left {
    display: none;
  }
  .startups-right {
    display: none;
  }
  .startups-icons {
    display: none;
  }
  .startups-burger-menu {
    display: flex;
  }
  .startups-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .startups-logo-center {
    margin-left: 0px;
  }
  .startups-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .startups-container3 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .startups-text16 {
    font-size: 3rem;
    text-align: center;
  }
  .startups-text21 {
    text-align: center;
    font-weight: 600;
  }
  .startups-blog {
    flex-direction: column;
  }
  .startups-blog1 {
    flex-direction: column;
  }
  .startups-blog2 {
    flex-direction: column;
  }
  .startups-blog3 {
    flex-direction: column;
  }
  .startups-blog4 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .startups-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .startups-mobile-menu {
    width: 717px;
  }
  .startups-icon02 {
    margin-top: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-fourunits);
  }
  .startups-text14 {
    color: rgb(0, 0, 0);
  }
  .startups-text15 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-blog2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-blog3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .startups-blog4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .startups-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .startups-mobile-menu {
    width: 448px;
    padding: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .startups-logo-center {
    color: var(--dl-color-gray-black);
    font-size: 24px;
    font-family: Jost;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4em;
    text-decoration: none;
  }
  .startups-text08 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-text09 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-text10 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-text13 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-text14 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .startups-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-icon04 {
    height: 15px;
    margin-right: var(--dl-space-space-twounits);
  }
  .startups-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .startups-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-blog2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-blog3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .startups-blog4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
